@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
*{
    margin:0;
    padding: 0;
}
body{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color: rgba(123, 123, 251, 0.824);
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Roboto', sans-serif;
    /* margin-top:20px ; */
    /* margin-bottom: 10px; */
}
.p1{
    border-left: 0.3rem solid rgb(190, 188, 188);
    padding:0.125rem 0.6rem ;
    color: rgb(125, 123, 123);
   margin-bottom: 1em;
   font-family: 'Roboto', sans-serif;
}
.div1{
    align-content: center;
    width: 80%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    border: 20px solid rgb(195, 192, 192);
    margin: 20%;
    margin-top: 20px;
    margin-bottom: 35px;
    padding: 30px;
    /* color: rgb(125, 123, 123); */

}