
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #232423;
  
}
.box{
    position:relative;
    width:300px;
    height:420px;
    border-radius:5%;
 background-color: #220f0f;
 overflow: hidden;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left:-50%;
    width:300px;
    height:300px;
   background: linear-gradient(0deg,transparent,#99e807eb,#c4ff15b7);
   animation: animate 4s linear infinite;
   transform-origin: bottom right;
   /* animation-delay: -3s; */
    
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left:-50%;
    width:300px;
    height:300px;
   background: linear-gradient(0deg,transparent,#ff9215ce,#15efff94);
   animation: animate 4s linear infinite;
   transform-origin: bottom right;
   animation-delay: -2s;
    
}
@keyframes animate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    z-index: 10;
    background: rgb(7, 7, 7);
    inset: 3px;
    text-align: center;
    /* color :#15efff94 */
    /* margin :10px ; */
    display: grid;
    /* border-radius: 10px; */
    align-items: center;
    /* align-content: center; */
  
}
.form h2{
    color:#15efff94;
    
}


.form input {
    color:#15efff94;
    width:95%;
    height:40px;
    background: transparent;
    /* padding: auto; */
    /* margin:15px; */
    
}
.form button{
    width:50%;
    height:40px;
    background: rgb(151, 163, 78); 
    color: #a1f3b7e4;

}
p{
    color: #15efff94;
}
a{
    text-decoration: none;
    color: rgba(204, 220, 33, 0.614)
}

